@import "../../colors.scss";
.listItemContainer {
  height: 100px;
  width: 100%;
  left: 112px;
  border-radius: 2px;
  background-color: white;
  margin-bottom: 20px;
  display: flex;

  .title {
    font-weight: 400;
    line-height: 20px;
    font-family: roboto;
  }
  .description {
    font-family: roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    line-height: 10px;
    color: #7d7d7d;
  }
  .promoCodeDiv {
    .promoCode {
      width: 70%;
      height: 40px;
      border: 1px solid $borderColor;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  .buttonDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;

    .buttonBlue {
      border-radius: 4px;
      width: 70%;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $buttonColor;
      color: white;
    }
    .buttonRed {
      font-family: roboto;
      border-radius: 4px;
      width: 70%;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: red;
      color: white;
    }
  }
}
