@import "../../colors.scss";
.sideBarContainer {
  height: 100vh;
  .logoContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    cursor: pointer;
  }
  .menuContainer {
    margin-top: 100px;
    .menuItemContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 50px;
    }
  }
}
