@import "../../colors.scss";
.mainPageContainer {
  display: flex;
  .sideBar {
    background-color: $sideBarBackground;
    width: 5%;
    height: auto;
  }
  .contentContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    .mainContent {
      padding-left: 50px;
      background-color: $contentBackground;
    }
  }
}
